{{! This is the social links widget - it will be output using this markup }}

<div class="sidebar-right-wrap widget-box widget_vintauge_social_media_widget">
  <div class="widget-title">
    <h4>Social Media</h4>
  </div>
  <div class="widget-content">
    <ul class="widget-social">
      <li><a href="#" title="Facebook" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" title="Twitter" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" title="Google+" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#" title="Pinterest" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#" title="Instagram" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#" title="YouTube" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</div>
