{{! This is the subscriptions widget - it will be output using this markup }}

<div class="col-sm-4 col-xs-12">
  <div class="sidebar-right-wrap widget-box widget_tags">
    <div class="widget-title">
      <h4>Subscribe</h4>
    </div>
    <div class="widget-content">
      <form action="//gloriatheme.us11.list-manage.com/subscribe/post?u=d6ae3dab89ef8abb5b37a6ed9&amp;id=0e005855f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="required email" placeholder="Your E-mail Address" id="mce-EMAIL">
        </div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="newsletter-button">SUBSCRIBE</button>
      </form>
    </div>
  </div>
</div>
