<div class="message">
	<div class="row">
		<div class="small-12 large-12 medium-12 columns">
			<div class="logo">
				{{#if @blog.logo}}
					<a href="{{@blog.url}}" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="Blog Logo" title="{{@blog.title}}"/></a>
				{{/if}}
			</div>
		</div>
		<div class="small-12 columns">
			<div class="message-intro">
				<span class="message-line"></span>
				<p>Blog</p>
				<span class="message-line"></span>
			</div>
			<h1><span id="js-rotating">THE LATEST TINKERWARE NEWS</span></h1>
		</div>
	</div>
</div>