{{! This is the footer - it will be output using this markup }}

<footer>
 <div class="row">
  <div class="small-12 columns">
   <div class="contacts">
    <div class="row">
     <div class="small-12 large-4 medium-4 columns">
      <i class="fa fa-map-marker"></i>
      With <span class="fa fa-heart"></span> From ZAC, MEX
     </div>
     <div class="small-12 large-4 medium-4 columns">
      <a href="tel:524921030944"><i class="fa fa-mobile"></i>
       +52 492-103-0944</a>
      </div>
      <div class="small-12 large-4 medium-4 columns">
       <a href="mailto:hello@tinkerware.io"><i class="fa fa-envelope-o"></i>
        hello@tinkerware.io</a>
       </div>
      </div>
     </div>
    </div>
   </div>
   
   <!--SOCIAL LINKS -->
   <div class="social">
    <div class="row">
     <div class="small-12 columns">
      <ul class="small-block-grid-1 large-block-grid-5 medium-block-grid-5">
       <li class="facebook"><a href="https://www.facebook.com/tinkerwareio">FACEBOOK</a></li>
       <li class="twitter"><a href="https://twitter.com/Tinkerwareio">TWITTER</a></li>
       <li class="github"><a href="https://github.com/Tinker-Ware">GITHUB</a></li>
       <li class="linkedin"><a href="https://www.linkedin.com/company/10288735?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A904775341462334275499%2CVSRPtargetId%3A10288735%2CVSRPcmpt%3Aprimary">LINKEDIN</a></li>
      </ul>
     </div>
    </div>
   </div>
   <!-- END OF SOCIAL LINKS -->
   <p class="copyright">&copy; {{date format="YYYY"}} {{@blog.title}}. TinkerWare, All rights reserved. </p>
  </footer>