{{! This is the header - it will be output using this markup }}

<!--  HEADER -->
<header class="alt-1">
	<div class="top">
		<div class="row">        
			<div class="small-12 large-12 medium-12 columns">
				
				<!--  NAVIGATION MENU AREA -->
				<nav class="desktop-menu">
					<ul class="sf-menu" id="navigation">
						<li><a href="https://tinkerware.io">ABOUT US</a></li>
						<li class="current-menu-item"><a href="/">BLOG</a></li>
					</ul>
				</nav>
				<!--  END OF NAVIGATION MENU AREA -->
				
			</div>
		</div>
	</div>
	
	<!--  MESSAGES ABOVE HEADER IMAGE -->
	{{#is "home"}}
  {{> "post/header" }}
	{{else}}
	 {{> "post/header-post" }}
	{{/is}}
	<!--  END OF MESSAGES ABOVE HEADER IMAGE -->
	
</header>
<!--  END OF HEADER -->