{{! This is the sidebar - it will be output using this markup }}

<!-- SIDEBAR -->
<div class="sidebar">
 <div class="widget">
  <div class="textwidget">
   <img src="{{asset "images/pet.jpg"}}" alt="pet"/>
  </div>
 </div>
 <div class="widget">
  <h4 class="widget_title"><span>DEV UPDATES</span></h4>
  <p>The latest development news in your inbox</p>
  <div class="textwidget">
  <a href="#" onclick="showMailingPopUp();return false;" class="small radius button">SUBSCRIBE NOW</a>
  </div>
 </div>
 
</div>
<!-- END OF SIDEBAR -->