{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="row">
 {{! POST START }}
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}
 {{! POST END

 {{! PAGINATION START }}
 {{pagination}}
 {{! PAGINATION END }}
 
</div>

